.mouse {
    display: inline-block;
    width: 160px;
    height: 240px;
    border: 15px solid #fff;
    border-radius: 80px;
}
    .mouse > .wheel {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: #fff;
        margin-top: 40px;
        border-radius: 8px;
        animation-name: scrolling;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        background-image: url(../img/5560-Mouse-grey.jpeg);
        background-size: contain;
    }
        .mouse > .wheel:hover {
            animation-play-state: paused;
        }

@keyframes scrolling {
    0% {
        margin-top: 20px;
        background-color: #ffff;
        opacity: 1;
        transform: rotate(0);
    }
    50% {
        background-color: #ffff;
        opacity: 1;
    }
    100% {
        margin-top: 120px;
        background-color: #fff0;
        opacity: 0;
        transform: rotate(720deg);
    }
}